<!DOCTYPE html>
<!DOCTYPE html>
<html>
<body>
<div>
<h1>Profile</h1>
  <ul class="employees">
  <% for(var i=0; i<Test.length; i++) {%>
    <li class="employees">
      <span><%= "Roll No.: " + Test[i].uname + ", "%></span>
      <span><%="Topic/Subject: " + Test[i].topic%></span>
      <span><%="Total Questions: " + Test[i].total_ques%></span>
      <span><%="Correct: " + Test[i].correct%></span>
      <span><%="Percentage: " + Test[i].percentage%></span>
    </li>
  <% } %>
</ul>
</ul>
</div>
</body>
</html>